<div class="person p-4">
  <h3>Şəxsiyyət vəsiqəsi detalları</h3>
  <div class="person-details" [formGroup]="profileFilterForm">
    <div class="person-table">
      <div class="card p-3">
        <div class="d-block d-lg-none">
          <div class="row">
            <div class="col-6">
              <table>
                <tr>
                  <th>Ad</th>
                  <td>{{ data?.name }}</td>
                </tr>
                <tr>
                  <th>Soyad</th>
                  <td>{{ data?.surname }}</td>
                </tr>
                <tr>
                  <th>Ata adı</th>
                  <td>{{ data?.middleName }}</td>
                </tr>
                <tr>
                  <th>Doğum tarixi</th>
                  <td>{{ data?.birthDate | date: "YYYY-MM-dd" }}</td>
                </tr>
                <tr>
                  <th>PİN</th>
                  <td>{{ data?.pin }}</td>
                </tr>
                <tr>
                  <th>Ölkə</th>
                  <td>{{ data?.country?.name }}</td>
                </tr>
              </table>
            </div>
            <div class="col-6">
              <table>
                <tr>
                  <th>Email</th>
                  <td>{{ data?.email }}</td>
                </tr>
                <tr>
                  <th>Telefon</th>
                  <td>{{ data?.phone }}</td>
                </tr>
                <tr *ngIf="data?.driverLicense">
                  <th>Nömrə</th>
                  <td>{{ data?.driverLicense?.number }}</td>
                </tr>
                <tr *ngIf="data?.driverLicense">
                  <th>Son tarix</th>
                  <td>
                    {{ data?.driverLicense?.validityDate | date: "YYYY-MM-dd" }}
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>
        <div class="d-none d-lg-block">
          <table>
            <tr>
              <th>Ad</th>
              <th>Soyad</th>
              <th>Ata adı</th>
              <th>Doğum tarixi</th>
              <th>PİN</th>
              <th>Ölkə</th>
              <th>Email</th>
              <th>Phone</th>
            </tr>
            <tr>
              <td>{{ data?.name }}</td>
              <td>{{ data?.surname }}</td>
              <td>{{ data?.middleName }}</td>
              <td>{{ data?.birthDate | date: "YYYY-MM-dd" }}</td>
              <td>{{ data?.pin }}</td>
              <td>{{ data?.country?.name }}</td>
              <td>{{ data?.email }}</td>
              <td>{{ data?.phone }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card p-3 d-none d-lg-block" *ngIf="data?.driverLicense">
        <div>
          <table>
            <tr>
              <th>Sürücülük vəsiqəsinin son tarix</th>
              <th>Sürücülük vəsiqəsinin nömrəsi</th>
            </tr>
            <tr>
              <td>
                {{ data?.driverLicense?.validityDate | date: "YYYY-MM-dd" }}
              </td>
              <td>{{ data?.driverLicense?.number }}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="confirmation card" formGroupName="avatarConfirmation">
      <h2 class="text-bold">İstifadəçinin şəkli</h2>
      <div class="img">
        <img [src]="data?.avatar?.url" alt="" />
      </div>
      <div class="confirmation-buttons">
        <button
          mat-raised-button
          class="await-button"
          [ngClass]="{ 'success-button': isSuccess('avatarConfirmation', 3) }"
          (click)="rejectOrConfirmData('avatarConfirmation', 3)"
        >
          Təsdiq et
        </button>
        <button
          mat-raised-button
          class="await-button"
          [ngClass]="{ 'reject-button': isSuccess('avatarConfirmation', 2) }"
          (click)="rejectOrConfirmData('avatarConfirmation', 2)"
        >
          İmtina et
        </button>
      </div>
      <div class="d-flex align-items-center justify-content-center w-100">
        <mat-form-field class="w-50" appearance="outline">
          <mat-label>Profil şəkli üçün qeyd</mat-label>
          <textarea
            type="text"
            formControlName="description"
            matInput
            autocomplete="description"
            placeholder="Profil şəkli üçün qeyd"
          ></textarea>
        </mat-form-field>
      </div>
    </div>

    <div
      class="confirmation card"
      formGroupName="idCardConfirmation"
      *ngIf="data?.idCard"
    >
      <h2 class="text-bold">İstifadəçinin şəxsiyyət vəsiqəsi</h2>
      <div class="img">
        <img [src]="data?.idCard?.backSide?.url" alt="" />
        <img [src]="data?.idCard?.frontSide?.url" alt="" />
      </div>
      <div class="confirmation-buttons">
        <button
          mat-raised-button
          class="await-button"
          [ngClass]="{ 'success-button': isSuccess('idCardConfirmation', 3) }"
          (click)="rejectOrConfirmData('idCardConfirmation', 3)"
        >
          Təsdiq et
        </button>
        <button
          mat-raised-button
          class="await-button"
          [ngClass]="{ 'reject-button': isSuccess('idCardConfirmation', 2) }"
          (click)="rejectOrConfirmData('idCardConfirmation', 2)"
        >
          İmtina et
        </button>
      </div>
      <div class="d-flex align-items-center justify-content-center w-100">
        <mat-form-field class="w-50" appearance="outline">
          <mat-label>İstifadəçinin şəxsiyyət vəsiqəsi üçün qeyd</mat-label>
          <textarea
            type="text"
            formControlName="description"
            matInput
            autocomplete="description"
            placeholder="İstifadəçinin şəxsiyyət vəsiqəsi üçün qeyd"
          ></textarea>
        </mat-form-field>
      </div>
    </div>

    <div
      class="confirmation card"
      formGroupName="passportConfirmation"
      *ngIf="data?.passport"
    >
      <h2 class="text-bold">İstifadəçinin pasportu</h2>
      <div class="img">
        <img [src]="data?.passport?.url" alt="" />
      </div>
      <div class="confirmation-buttons">
        <button
          mat-raised-button
          class="await-button"
          [ngClass]="{ 'success-button': isSuccess('passportConfirmation', 3) }"
          (click)="rejectOrConfirmData('passportConfirmation', 3)"
        >
          Təsdiq et
        </button>
        <button
          mat-raised-button
          class="await-button"
          [ngClass]="{ 'reject-button': isSuccess('passportConfirmation', 2) }"
          (click)="rejectOrConfirmData('passportConfirmation', 2)"
        >
          İmtina et
        </button>
      </div>

      <div class="d-flex align-items-center justify-content-center w-100">
        <mat-form-field class="w-50" appearance="outline">
          <mat-label>İstifadəçinin pasportu üçün qeyd</mat-label>
          <textarea
            type="text"
            formControlName="description"
            matInput
            autocomplete="description"
            placeholder="İstifadəçinin pasportu üçün qeyd"
          ></textarea>
        </mat-form-field>
      </div>
    </div>

    <div
      class="confirmation card"
      formGroupName="driverLicenseConfirmation"
      *ngIf="data?.driverLicense"
    >
      <h2 class="text-bold">İstifadəçinin sürücülük vəsiqəsi</h2>
      <div class="img">
        <img [src]="data?.driverLicense?.document?.backSide?.url" alt="" />
        <img [src]="data?.driverLicense?.document?.frontSide?.url" alt="" />
      </div>
      <div class="confirmation-buttons">
        <button
          mat-raised-button
          class="await-button"
          [ngClass]="{
            'success-button': isSuccess('driverLicenseConfirmation', 3)
          }"
          (click)="rejectOrConfirmData('driverLicenseConfirmation', 3)"
        >
          Təsdiq et
        </button>
        <button
          mat-raised-button
          class="await-button"
          [ngClass]="{
            'reject-button': isSuccess('driverLicenseConfirmation', 2)
          }"
          (click)="rejectOrConfirmData('driverLicenseConfirmation', 2)"
        >
          İmtina et
        </button>
      </div>
      <div class="d-flex align-items-center justify-content-center w-100">
        <mat-form-field class="w-50" appearance="outline">
          <mat-label>İstifadəçinin sürücülük vəsiqəsi üçün qeyd</mat-label>
          <textarea
            type="text"
            formControlName="description"
            matInput
            autocomplete="description"
            placeholder="İstifadəçinin sürücülük vəsiqəsi üçün qeyd"
          ></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>

  <div class="confirmation card">
    <div class="confirmation-buttons">
      <button mat-raised-button class="save" (click)="saveDataDialog()">
        Yadda saxla
      </button>
    </div>
  </div>
</div>
