body {
//   font-family: "Sofia Pro Regular" !important;
}

.app-body {
    height: 100%;
    background-image: url(/assets/img/icons/bck.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.await-button {
    background-color: $main-grey-color;
    color: #fff;
}

.reject-button {
    background-color: $main-red-color;
    color: #fff;
}

.success-button {
    background-color: $main-green-color;
    color: #fff;
}

.save {
    background-color: $main-blue-color;
    color: #fff; 
}

.filter {
    display: flex;
  
    .badge-div {
      position: relative;
      .badge-span {
        position: relative;
        text-align: center;
        bottom: -25px;
        right: 50%;
        min-width: 53px;
        padding: 5px 10px;
        border: 2px solid #fff;
        border-radius: 50%;
        font-weight: bold;
      }
    }
  }

mat-paginator {
    width: 100%  !important;
}

table {
    width: 100%;
}

.table-loading {
  mat-spinner {
    margin: auto
  }
}

i.fa {
    font-size: 14px;
    color: $main-blue-color;
}

.submit-button-group {
    display: flex;
    justify-content: space-around;
    button {
        width: 45%;
    }
}

.actions {
    color: #345;
    mat-icon {
        margin-right: 5px;
        font-size: 24px;
        cursor: pointer;
    }
}

.filter {
    mat-form-field {
        margin-right: 10px;
        max-width: 150px
    }
}

.p-0 {
    padding: 0;
}

.pl-0 {
    padding-left: 0;
}

.pr-0 {
    padding-right: 0;
}

.pr-3 {
    padding-left: 1.5rem !important;
}

.m-0 {
    margin: 0
}

// @import "../node_modules/@coreui/coreui/scss/coreui";
@import "~@angular/material/prebuilt-themes/indigo-pink.css"
