$main-blue-color: #26ADE7;
$main-lightgrey-color: #F3F6FF;
$main-grey-color: #7F8FA6;
$main-red-color: #FF0000;
$main-yellow-color: #FFE81F;
$main-disabled-color: #adadad;
$font-weight-bold: 500;

$sidebar: #fff;
$sidebar_hover: #1B2559;
$sidebar: #fff;

