<h1 mat-dialog-title class="text-center">
    {{ data.text }}
</h1>
<div mat-dialog-content>
  <div class="py-3 text-center">
    {{ data.message }}
  </div>

  <div class="row submit-button-group mt-3">
    <button
      mat-flat-button
      class="success-button"
      [disabled]="loading"
      (click)="confirm()"
    >
      <i
        class="fa fa-spinner fa-pulse fa-3x fa-fw"
        *ngIf="loading; else btnText"
      ></i>
      <ng-template #btnText>Bəli</ng-template>
    </button>
    <button mat-stroked-button mat-dialog-close [disabled]="loading">Xeyr</button>
  </div>

</div>
